.floating-action-bar {
    position: fixed;
    bottom: 20px; /* Add margin from the bottom */
    left: 50%; /* Center the FAB */
    transform: translateX(-50%); /* Center the FAB */
    width: calc(100% - 40px); /* Adjust width to provide side margins */
    max-width: 500px; /* Limit width on larger mobile screens */
    height: 60px;
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    border-radius: 12px; /* Professional border-radius */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Floating effect */
    display: none; 
  }
  
  .fab-link {
    color: #fff;
    font-size: 1.5rem;
    padding: 10px; /* Add some padding around icons for better touch area */
  }
  
  .fab-link.active {
    color: #1888ff;
  }
  
  @media screen and (max-width: 960px) {
    .floating-action-bar {
      display: flex;
    }
  }
  