.footer-container {
  background-color: #1c1b1b;
  padding: 4rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 24px;
  padding: 24px;
  color: #fff;
}

.footer-heading {
  margin-bottom: 24px;
  font-size: 24px;
}

.footer-text {
  margin-bottom: 24px;
  font-size: 20px;
}
