.navbar {
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    padding: 0 24px;
    max-width: 1100px;
  }
  
  .navbar-logo {
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-left: 24px;
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    margin-right: -22px;
  }
  
  .nav-item {
    height: 80px;
  }
  
  .nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
  }
  
  .nav-links:hover {
    /* border-bottom: 4px solid #fff; */
    transition: all 0.2s ease-out;
  }
  
  .nav-links.active {
    border-bottom: 4px solid #1888ff;
  }
  
  .mobile-menu-toggle {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-links.active {
      background: #1c1c1c;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
      overflow-y: auto;
    }
  
    .nav-link {
      text-align: center;
      /* padding: 2rem; */
      padding: 0.5rem;
      width: 100%;
      display: table;
    }
  
    .nav-link:hover {
      background-color: var(--bg-primary);
      color: #fff;
      border-radius: 0;
    }
  
    .navbar-logo {
      margin-left: 0;
    }
  
    .mobile-menu-toggle {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .hamburger {
      display: block;
      cursor: pointer;
    }
  
    .hamburger span {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background-color: var(--text-primary);
    }
  
    .hamburger.is-active span:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    .hamburger.is-active span:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger.is-active span:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
  
